{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-productpage{% endblock %}

{% block content %}

    <h1>{{ page.title }}</h1>
    {{ page.description|richtext }}
    <dl>
        <dt>Code:</dt><dd>{{page.code}}</dd>
        {# TODO: There must be a more elegant way to concat the queryset with delimiter #}
        <dt>Categories:</dt><dd>
            {% for category in page.categories.all %}
                {{category}},&nbsp;
            {% endfor %}
        </dd>
    </dl>
    {% image page.image fill-1200x400 %}

{% endblock %}
