{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-producttype{% endblock %}

{% block content %}

    <h1>{{ page.title }}</h1>

    {% if subpages %}
        <ol>
        {% for subpage in subpages %}
            <li>
                <a class="card-with-image" href="{% pageurl subpage %}">
                    {% if subpage.listing_image %}
                        {% image subpage.listing_image fill-450x300 %}
                    {% elif subpage.image %}
                        {% image subpage.image fill-450x300 %}
                    {% else %}
                        <img src="https://placehold.it/450x300">
                    {% endif %}
                    <div class="card">
                        <h2>
                            {{ subpage.listing_title|default:subpage.title }}
                        </h2>
                        <dl>
                            <dt>Code:</dt><dd>{{subpage.code}}</dd>
                            <dt>Categories:</dt><dd>
                                {# TODO: There must be a more elegant way to do this #}
                                {% for category in subpage.categories.all %}
                                    {{category}},&nbsp;
                                {% endfor %}
                            </dd>
                        </dl>
                        {{subpage.description|richtext}}
                    </div>
                </a>
            </li>
        {% endfor %}
        </ol>
    {% else %}
        {# no items on this page #}
    {% endif %}

{% endblock %}
